@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Varela Round';
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Varela+Round&display=swap');
}


body{
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 40px;
    grid-template-areas: ". content content content content .";
}

.grid-video{
    margin-top: 50px;
    align-items: center;
    grid-template-areas: "video video video benefits benefits benefits";
}

.grid-benefit-detail{
    margin-top: 4rem;
}

.grid-video video{
    grid-area: video;
    width: 100%;
    max-width: 800px
}

.content {
    grid-area: content;
    max-width: 1000px;
    width: 100%;
}

.dark-header{
    background-color: rgb(3, 181, 184);
    color: rgb(233, 233, 233);
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}

.light-header {
    background-color: rgb(9, 234, 238);
    color: rgb(233, 233, 233);
    padding-top: 500px;
    margin-top: -450px;
}

.brand-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50px;
    margin-right: .5rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.sub-title{
   font-size: 1.5rem; 
   font-family: 'Varela Round';
   text-align: center;
   font-weight: normal;
}

.email-form{
    display: flex;
    justify-content: center;
    margin-top: 0.25rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.email-form input{
    background-color: white;
    color: rgb(3, 181, 184);
    border: 2px solid black;
    border-radius: .5rem;
    padding:  .5rem 1rem;
    margin-right: 1em;
    outline: none;
    flex-grow: 1;
}

.email-form input:focus{
    background-color: #DCF3FF;
}

.email-form button {
    color: white;
    background-color: #111;
    border-radius: .5rem;
    border: 2px solid white;
    padding: .5rem 1rem;
    cursor: pointer;
    max-width: 200px;
}

.email-form button:hover, .email-form button:focus {
    background-color: #333;
}

.benefits-section{
    grid-area: benefits;
    margin-left: 3rem;
    justify-self: flex-start;
}

.benefit{
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 3rem;   
}

.benefit img{
    height: 3rem;
    margin-right: 2rem;
}

.benefit-detail{
    grid-column: span 2;
    margin: 2rem;
}

.benefit-detail-title{
    text-align: center;
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 2rem;
}

.benefit-detail-text{
    font-size: 1.5rem;
    color: #444;
    font-weight: lighter;
}

strong{
    font-weight: 600;
}

@media (max-width: 1200px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas: "content";
    }

    .grid-video {
        grid-template-columns: 1fr;
        grid-template-areas: "video" "benefits";
    }

    .grid-video video{
        justify-self: center;
    }

    .grid-benefit-detail{
        grid-template-columns: repeat(6, 1fr);
    }

    .benefits-section {
        margin-top: 2rem;
        margin-left: 0;
        justify-self: center;
    }
}

@media (max-width: 1000px){
    .grid-benefit-detail{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px){
    .email-form{
        flex-direction: column;
    }

    .email-form button{
        max-width: initial;
        width: 100%;
    }

    .email-form input{
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
    }

    .benefit {
        font-size: 2rem;
    }

    .benefit img {
        height: 2rem;
        margin-right: 1rem;
    }
}

@media (max-width: 500px){
    .brand-name {
        display: none;
    }

    .logo{
        margin-top: 1rem;
    }

    .email-form {
        margin: 0;
        font-size: 1.25rem;
    }

    .benefit{
        font-size: 1.25rem;
    }

    .benefit img {
        height: 1.25rem;
        margin-right: .5rem;
    }

    .benefit-detail-title{
        font-size: 1.25rem;
    }
    
    .benefit-detail-text {
        font-size: 1.15rem;
    }

    .benefit-detail {
        margin: 1rem;
    }

    .grid-benefit-detail{
        margin-top: 1rem
    }
}
